.signin {
  height: 100vh;

  .cl-card {
    margin-top: -200px;
    margin-left: 100px;
    box-shadow: none;

    .cl-formFieldLabel {
      font-size: 15px;
      letter-spacing: 1px;
    }

    .cl-logoBox,
    .cl-headerSubtitle {
      display: none;
    }
    .cl-headerTitle {
      align-self: center;
      margin-left: -20px;
      font-size: 30px;
    }

    .cl-socialButtonsBlockButton {
      border-color: lightgray;
    }

    .cl-internal-b3fm6y {
      display: none;
    }

    .cl-socialButtonsBlockButtonText {
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 2px;
    }

    .cl-formButtonPrimary {
      background-color: rgb(39, 39, 39);
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 600px) {
  .signin {
    .cl-card {
      margin-top: -100px;
      margin-left: 0px;
      width: 100rem;
    }
  }
}
