.card-skeleton {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;

  .card-iamge-skeleton {
    width: 250px;
    height: 300px;
  }

  .card-title-skeleton {
    width: 75%;
    height: 15px;
    margin-top: 5px;
  }

  .card-price-skeleton {
    width: 35%;
    height: 18px;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .card-skeleton {
    width: 160px;

    .card-iamge-skeleton {
      width: 90%;
      height: 280px;
    }
  }
}
@media (max-width: 281px) {
  .card-skeleton {
    width: 85%;
    margin-left: -30px;
  }
}
