.navbar {
  position: relative;
  .top-nav {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    .middle {
      .logo {
        width: 250px;
        height: 55px;
        object-fit: contain;
        margin-right: 50px;
      }
    }

    .right {
      margin-right: 20px;
      font-size: 25px;

      .custom-link {
        font-size: 14px;
        border-radius: 8px;
        padding: 7px 20px;
        color: black;
        letter-spacing: 2px;
        background-color: rgb(241, 241, 241);
        font-weight: 600;
      }

      .icons {
        .cart-icon {
          cursor: pointer;
          margin-right: 2px;

          .badge {
            font-size: 10px;
            position: absolute;
            right: 12px;
            top: 10px;
          }
        }
      }
    }
  }

  #navbar-links {
    padding-left: 0;
    padding-right: 0;
    margin-top: -1px;

    .navbar-nav {
      width: 100%;
      background-color: white;
      box-shadow: 2px 10px 5px -10px rgba(0, 0, 0, 0.2);

      padding-left: 60px;

      .custom-link {
        margin: 10px;
        padding: 5px;
        font-weight: 800;
        font-size: 12px;
        color: black;
        letter-spacing: 2px;
      }

      .active,
      a:hover {
        background-color: rgb(153, 153, 153);
        color: white;
        border-radius: 50px;
      }
    }
  }
}

/* Mobile */

@media (max-width: 620px) {
  .navbar {
    .top-nav {
      .middle {
        .logo {
          width: 160px;
          margin-left: 20px;
          margin-right: -20px;
        }
      }

      .right {
        font-size: 18px;

        .custom-link {
          font-size: 13px;
          padding: 5px 17px;
        }

        .icons {
          margin-right: -15px;

          .cart-icon {
            margin-right: 15px;
            font-size: 20px;
            .badge {
              font-size: 8px;
              top: 12px;
            }
          }
        }
      }
    }

    #navbar-links {
      .navbar-nav {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 281px) {
  .navbar {
    .top-nav {
      .middle {
        .logo {
          width: 120px;
        }
      }

      .right {
        font-size: 15px;
      }
    }

    #navbar-links {
      .navbar-nav {
        padding-left: 0;
      }
    }
  }
}
