.custom-card {
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  img {
    width: 250px;
    height: 300px;
  }

  .wishlist-icon {
    cursor: pointer;
    top: 10px;
    right: 10px;
  }

  .card-details {
    .title {
      font-size: 14px;
    }

    .price {
      font-weight: 500;
    }
  }
}

@media (max-width: 600px) {
  .custom-card {
    width: 160px;

    img {
      width: 160px;
      height: 200px;
    }
  }
}

@media (max-width: 281px) {
  .custom-card {
    width: 200px;
    img {
      width: 200px;
      height: 300px;
    }
  }
}
